<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbb.workPlanTask.mapper.WorkPlanMapper">
    <update id="updateInsertTime">
        UPDATE NECHK.tbl_workplan
        SET insert_time = #{insertTime}
        WHERE plan_id = #{planId}
    </update>

    <select id="getAllWorkPlans" resultType="com.cbb.workPlanTask.model.WorkPlan">
        SELECT *
        FROM NECHK.tbl_workplan
        WHERE INSERT_TIME >= SYSDATE - (#{findTime} / 24)
        ORDER BY INSERT_TIME DESC
    </select>

</mapper>